methods to delete the items form the dict

1. pop
2. popitem

In [1]:
# 1. pop
"""
remove sepciefied key and return the corresponding value.if key is not found, default is returend if given
else key error is rasied
"""


# if key is presend
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}


print(employee_details.pop('emp2'))

{'name': 'rahul', 'age': 23, 'salary': 6000}

In [2]:
employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}}

In [3]:
# if key is not presend
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}


print(employee_details.pop('emp3'))

KeyError: 'emp3'

In [4]:
# if key is not presend
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}


print(employee_details.pop('emp3' , 'key not present'))

key not present

In [6]:
# 2. popitem
"""
remove and return (key,value) pair as tuple from the last
"""

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}


print(employee_details.popitem())

('emp2', {'name': 'rahul', 'age': 23, 'salary': 6000})

In [7]:
employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000}}

# methods to check all the keys from the dict

In [13]:
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.keys()

dict_keys(['emp1', 'emp2'])

# methods to check all the values from the dict

In [14]:
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.values()

dict_values([{'name': 'Afsan', 'age': 23, 'salary': 70000}, {'name': 'rahul', 'age': 23, 'salary': 6000}])

# methods to check all the items from the dict

In [15]:
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.items()

dict_items([('emp1', {'name': 'Afsan', 'age': 23, 'salary': 70000}), ('emp2', {'name': 'rahul', 'age': 23, 'salary': 6000})])

In [23]:
for i , j in employee_details.items():
    print(j)

In [18]:
# fromkeys - create a new dict with the keys from the iterable and value set to default

d2 = dict.fromkeys([1,2,3,4])
d2

{1: None, 2: None, 3: None, 4: None}

In [19]:
d2 = dict.fromkeys([1,2,3,4] , 'afsaan')
d2

{1: 'afsaan', 2: 'afsaan', 3: 'afsaan', 4: 'afsaan'}

In [20]:
# clear method

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                    'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.clear()

In [21]:
employee_details

{}

In [22]:
i , j , k = (1,2)

ValueError: not enough values to unpack (expected 3, got 2)

In [24]:
# dict comprehension

# {key:value for var in iterable condition}

# {1:2 , 2:3 , 4:5 , 5:6}

{i:i+1 for i in range(1,10)}

{1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10}

In [25]:
# {1:1 , 2:4 , 3:9 , 4:16}
{i:i**2 for i in range(1,5)}

{1: 1, 2: 4, 3: 9, 4: 16}

In [26]:
# list comp

[i for i in range(1,5)]

[1, 2, 3, 4]

In [28]:
# tuple comp

tuple(i for i in range(1,5))

(1, 2, 3, 4)

In [ ]:
# dict comp

{i:i**2 for i in range(1,5)}

In [29]:
# set comp

{i**2 for i in range(1,5)}

{1, 4, 9, 16}

# Range Data Type

it us used with the for loop

syantx = range(start , stop , step) - it is used to generate a seq of number in forward or backword direction

start default value is 0<br>
stop deafult value is provided by user<br>
step default value is 1<br>

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# Set Datatype

- collection if values
- it is not a seq
- does not support indexing and slicing
- collection of unique value
- immutable

In [35]:
s = {1,2,3,4,5}
print(type(s))

<class 'set'>

In [36]:
s = {1,2,3,4,5}
s[0]

TypeError: 'set' object is not subscriptable

In [37]:
s = {1,2,3,1,1,1,2,3,4,2}
s

{1, 2, 3, 4}

In [38]:
s = {1,2,3,4,5}
s[0] = 10

TypeError: 'set' object does not support item assignment

In [39]:
{1,2,2,3,3,None , 0 ,0 ,True, True , False , False , 1}

{0, 1, 2, 3, None}

In [ ]:
1,2,3,None,0

In [40]:
{ True , 1,2,2,3,3, False , None , 0 ,0 ,True, True , False , False , 1}

{2, 3, False, None, True}

In [46]:
# tuple comp

tuple(i for i in range(1,5))

(1, 2, 3, 4)

# conditonal statments

# if

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5

# if cond is true - 1,2,3,4,5
# if cond is false - 1,2,3

In [47]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
# stat6
# stat7


# if cond is true - 1,2,3,4,5,6,7
# if cond is false - 1,2,3,6,7

# if and else

In [ ]:
# stat1
# stat2
# stat3
# if cond:
#     stat4
#     stat5
# else:
#     stat6
#     stat7
# stat8
# stat9

# if cond is true -1,2,3,4,5,8,9 
# if cond is false - 1,2,3,6,7,8,9

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# if cond2:
#     stat6
#     stat7
# if cond3:
#     stat8
#     stat9
# else:
#     stat10
#     stat11
# stat12
# stat13

if cond1 and 2 is true - 1,2,3 , 4,5 , 6,7, 10,11 , 12,13
if cond 2 is true - 1,2,3,6,7,10,11,12,13
if condtion 2 and 3 are true - 1,2,3,6,7,8,9,12,13

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# else:
#     stat6
#     stat7
# if cond2:
#     stat8
#     stat9
# if cond3:
#     stat10
#     stat11
# else:
#     stat12
#     stat13
# stat14
# stat15

# if the condition1 is true and other condition are false - 1,2,3,4,5,12,13,14,15
# if the condition2 is true and others are false - 1,2,3,6,7,8,9,12,13,14,15

# if , elif and else

In [ ]:
# stat1
# stat2
# stat3
# if cond1:
#     stat4
#     stat5
# elif cond2:
#     stat8
#     stat9
# elif cond3:
#     stat10
#     stat11
# else:
#     stat12
#     stat13
# stat14
# stat15

# if the condition1 is true and other condition are false - 1,2,3,4,5,14,15
# if condition 1 and 2 is true - 1,2,3,4,5,14,15
# if all cond are false - 1,2,3,12,13,14,15

In [48]:
a = 33
b = 44
if a>b:
    print('helloooo')
print('bye')

bye

In [49]:
a = 44
b = 44
if a>=b:
    print('helloooo')
print('bye')

helloooo
bye

In [ ]:
a = 41
b = 44
if a>=b:
    print('helloooo')
else:
    print('world')
print('bye')

In [52]:
a = 1
b = 2
if b > a:
    print('helo')
elif b ==a:
    print('bye')
elif b == 2:
    print('world')
else:
    print('no match')

helo

In [53]:
a = 1
b = 2
if b > a:
    print('helo')
else:
    
if b == 2:
    print('world')
    
else:
    
else:
    print('no match')

helo
world

In [54]:
a = 1
b = 2
if b > a and b ==2:
    print('helo')
elif b ==a:
    print('bye')
elif b == 2:
    print('world')
else:
    print('no match')

helo

In [55]:
a = 200
b = 33
c = 50

if a>b or a>c:
    print('done')

done

In [57]:
# Q1. check whther a number provide by user is odd or even


a = int(input("please enter a number")) 
if a % 2 == 0: 
    print("number is even") 
else:
    print("number is odd")

please enter a number45
number is odd

In [59]:
# Q2. take a number 1-5 from user and convert to its word form

# user - 1
# output - one

# user - 5
# ouput - five

num = int(input('enter the number'))
if num == 0:
    print('zero')
elif num == 1:
    print('one')
elif num == 2:
    print('two')
elif num == 3:
    print('three')
elif num == 4:
    print('four')
else:
    print('number not in range')

enter the number2
two

In [62]:
# q3 .check whether user given string is palindrome or not


string = input("please enter a string") 
if string == string[::-1]: 
    print("string is palindrom") 
else : 
    print( "string is not palindrom")

please enter a stringlevel
string is palindrom