In [ ]:
#Functions - DRY ( Do not repeat yourself)

'''function have two things

1. function defination - we dedine the fucntion or we defin the task
2. function call - we execute the function


syntax
1. function defination

        def funct_name(paramters):
            
            statment1
            statment2
            
            return statement3

        thinigs whihc are optional
            paramters
            return statment
        
2. function call

    function_name(args)
    
Note - if paramater is der in fucntion defination then der should be args in function call'''

In [3]:
# palindrome

# function defination

def palindrome():
    a = 'level'
    if a == a[::-1]:
        print('palindrome')
    else:
        print('not a palindrome')

# function call
palindrome()

palindrome

In [2]:
poblems - static

soluntion

1. can write the input in the function defination itself

palindrome

In [6]:
def palindrome():
    a = input('please enetr a string')
    if a == a[::-1]:
        print('palindrome')
    else:
        print('not a palindrome')

# function call
palindrome()

please enetr a stringlevel
not a palindrome

In [7]:
def palindrome(string):
    if string == string[::-1]:
        print('palindrome')
    else:
        print('not a palindrome')

# function call
a = input('please enetr a text')
a = a.strip()
palindrome(a)

please enetr a textlevel
palindrome

# Types of arguments

there 3 types of arguments

1. Positional args

- the order is imp
- number of args == number of parameters

In [8]:
def emp_info(emp_name , emp_sal, emp_age):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)

In [9]:
emp_info('afsaan')

TypeError: emp_info() missing 2 required positional arguments: 'emp_sal' and 'emp_age'

In [10]:
emp_info('afsaan' , '20k' , 24)

afsaan
20k
24

In [11]:
emp_info(24 , 'afsaan' , '20k' )

24
afsaan
20k

In [12]:
# 2. Default args

def emp_info(emp_name , emp_sal, emp_age , emp_location = 'banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_location) 
    
emp_info('afsaan' , '20k' ,'24')

afsaan
20k
24
banglore

In [13]:
def emp_info(emp_name , emp_sal, emp_age , emp_location = 'banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_location) 
    
emp_info('afsaan' , '20k' ,'24' , 'goa')

afsaan
20k
24
goa

imp point - if der is a combination of postional args and default args then default args will alawys followd by positonal args

In [14]:
def emp_info(emp_name , emp_sal, emp_age , emp_location = 'banglore' , emp_id = '101'):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_location) 
    print(emp_id) 
    
    
emp_info('afsaan' , '20k' ,'24' , 'goa')

afsaan
20k
24
goa
101

In [19]:
def emp_info( emp_name , emp_sal, emp_age , emp_id = '101', emp_location = 'banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_location) 
    print(emp_id) 
    
    
emp_info('afsaan' , 20 ,  24.2 , True , 10 + 6j)

afsaan
20
24.2
(10+6j)
True

In [21]:
# 3. keyword args

def emp_info( emp_name , emp_sal, emp_age , emp_id = '101', emp_location = 'banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_location) 
    print(emp_id) 
    
    
emp_info(emp_name = 'afsaan' , emp_sal = '20k' , emp_age = 24)

afsaan
20k
24
banglore
101

In [22]:
def emp_info( emp_name , emp_sal, emp_age , emp_id = '101', emp_location = 'banglore'):
    print(emp_name)
    print(emp_sal)    
    print(emp_age)
    print(emp_location) 
    print(emp_id) 
    
    
emp_info(emp_sal = '20k' , emp_age = 24 , emp_name = 'afsaan' )

afsaan
20k
24
banglore
101

In [ ]:
# write a fucntion to take a user input as a list of numbers sep out the even and od numbers

[1,2,3,4,5,6,7,8,9,10]

even list are - [2,4,6,8,10]
odd list are - [1,3,5,7,9]

In [24]:
def even_odd(list_numbers):
    
    even_list = [ i for i in list_numbers if i%2==0]
    odd_list = [ i for i in list_numbers if i%2!=0]   
    
    print(f'evem list are {even_list}')
    print(f'odd list are {odd_list}')

In [26]:
even_odd([1,2,3,4,5,6,7,8,9,10,11,12])

evem list are [2, 4, 6, 8, 10, 12]
odd list are [1, 3, 5, 7, 9, 11]

In [28]:
def even_odd(list_numbers):
    
    even_list = [ i for i in list_numbers if i%2==0]
    odd_list = [ i for i in list_numbers if i%2!=0]

In [29]:
print(even_odd([1,2,3,4,5,6,7,8,9,10,11,12]))

None

In [ ]:
def even_odd(list_numbers):
    
    even_list = [ i for i in list_numbers if i%2==0]
    odd_list = [ i for i in list_numbers if i%2!=0] 
    
    return None

In [30]:
print(even_odd([1,2,3,4]))

None

In [47]:
def even_odd(list_numbers):
    
    even_list = [ i for i in list_numbers if i%2==0]
    odd_list = [ i for i in list_numbers if i%2!=0] 
    
    return odd_list ,  even_list

In [48]:
a = even_odd([1,2,3,4])
print(a)

([1, 3], [2, 4])

In [ ]:
type(even_odd([1,2,3,4]))

In [32]:
a = 'hello world'
print(a)

hello world

In [ ]:
# return statment in function

- it is optional
- if not used the default value that will be returned will be None
- it used the the used value will be returned
- type of the fucntion == the type of the value returend by return statemnt
- you can return any object
- you can return a fucnion also

In [51]:
def even_odd(list_numbers):
    
    even_list = [ i for i in list_numbers if i%2==0]
    odd_list = [ i for i in list_numbers if i%2!=0] 
    
    return 11,12,13

print(type(even_odd([1,2])))

<class 'tuple'>

In [56]:
def even_odd(list_numbers):
    
    even_list = [ i for i in list_numbers if i%2==0]
    odd_list = [ i for i in list_numbers if i%2!=0] 
    
    print(even_list)
    print(odd_list)
    
    return even_list , odd_list
    

a , b = even_odd([1,2])

print(a*3)
print(b)

[2]
[1]
[2, 2, 2]
[1]

In [ ]:
# find the fact of a number using function

- Recursive function - when function returns itself

In [62]:
def fact(num):
    if num ==0:
        return 1

    else:
        return num * fact(num-1)

fact(5)

120

In [ ]:
# Anonymous function( function without a name) - lambda function

- lambda function is a small anonymous function
- a lambda function can take any number of args , but can have only one expression

syntax

lambda args : expression

In [64]:
# write a function to add 2 numbers

def add (a,b):
    return a +b

add(10,20)

30

In [65]:
x = lambda a,b : a+b

In [67]:
x(3,2)

5

In [68]:
x = (lambda a,b : a+b)(10,20)
x

30

In [77]:
# 3. write  lambda fucntion to find if number is even or odd

(lambda a,b : 'more' if a>b else 'less' if a<b else 'equal')(11,11)

'equal'

In [ ]:
1 - to make code shorter
2 - some fucntion works good with lambda function

# local and Global variable

- global varibale is a varibale which you can use in entire code
- local varbale is a varibale whihc you can use only a particular funcition

In [78]:
#global varibale
a = 15
b = 10

def add():
    c = a + b # local varibales
    print(c)
    
add()

print(a)
print(b)
print(c)

SyntaxError: invalid syntax (<ipython-input-78-c6eca76aa588>, line 10)

In [82]:
def add(a,b):
    c = a + b
    return c
    
c = add(20,50)

print(c+10)

30
40

In [80]:
add(100,200)

300

In [ ]:
map . reuduce , filter , enumrate , iterator , module - sat

file handling - sunday