In [4]:
#ljust(left adjusmnet) , rjust(right adjustment)

txt = 'afsaan'

print(txt.ljust(40) , 'hello world')
# afsaan wil take 5 char and reste will br 15 spaces and afsaan will be l adjusted

print(txt.rjust(20) , 'hello world')

afsaan                                   hello world
              afsaan hello world

In [10]:
# replace - replaces the char / group of char

my_str = 'Afsaan loves to watch@football'
print(my_str.replace('loves' , 'hate'))
print(my_str.replace('watch' , 'do not watch'))
print(my_str.replace('@' , ' ' , 3))

Afsaan hate to watch@football
Afsaan loves to do not watch@football
Afsaan loves to watch football

In [12]:
# split - converst the str data type to list data type

my_str = 'Afsan loves to watch football'
print(my_str.split()) # sperate on spaces


print(my_str.split('a'))

['Afsan', 'loves', 'to', 'watch', 'football']
['Afs', 'n loves to w', 'tch footb', 'll']

In [15]:
# join - it converts list to a str

list_1 = ['Afsan', 'loves', 'to', 'watch', 'football']

"--->".join(list_1)

'Afsan--->loves--->to--->watch--->football'

In [16]:
# list

# anyhting that can be written in sqaure brackets [] and elements are sep by commas

In [17]:
a = [1,2,3,4,5,6]

print(a , type(a))

[1, 2, 3, 4, 5, 6] <class 'list'>

In [19]:
# know the number of element

len(a)

6

# Creation of the list

In [20]:
# 1. youn already know the element

list1 = ['apple', 'mango' , 'orange']
print(list1)

['apple', 'mango', 'orange']

In [21]:
#2 . taking a user input

list1 = eval(input('enter the input'))
print(list1 , type(list1))

enter the input[1,2,3,4,5]
[1, 2, 3, 4, 5] <class 'list'>

In [29]:
#3 . list type casting can be only done on iterabvle objects only

str1 = 'afsan'
tuple1 = (1,2,3,4)
integer = 1

print(list(tuple1))

[1, 2, 3, 4]

In [ ]:
list can be only used on the iterable object

- ways to find an iterabe object

- if object suports len function then its an iterable object
- if we do dir(object) and if we find __iter__ then its an iterable object

non iterbale - int , Bool

iterable object - str

In [30]:
#4 - split - 

a = 'hello world'
print(a.split())

['hello', 'world']

In [ ]:
# Propertirs of list

- Seq data type
- it support indexing(we can acces 1 element or char at a time) as well as slicing(accesing multiple elements)
- mutable = assigment op is possible , you can chnage the object
- allows to store duplicate elements
- it hetrogeneous ( you can store any data types)
- basic op - slicing , indexing , concatination , repetition , identity , Membership

In [31]:
a = [1,2,3,4,5,6]

a[-1]

6

In [32]:
a[::-1]

[6, 5, 4, 3, 2, 1]

In [33]:
a[-1:-3:]

[]

In [34]:
# mutable - you can chnage the object

a = [1,2,3,4,5]
a[0] = 10
print(a)

[10, 2, 3, 4, 5]

In [35]:
a

[10, 2, 3, 4, 5]

In [36]:
a = 'afsaan'
print(a.upper())

AFSAAN

In [37]:
print(a)

afsaan

In [40]:
a = [1,2,3,4,5]
print(a.append(5))

None

In [39]:
a

[1, 2, 3, 4, 5, 5]

In [41]:
a = 'afsaan'
print(a.replace('f' , 'x'))

axsaan

In [42]:
print(a)

afsaan

In [43]:
a = [1,2,3,4,5]
print(a.append(7))

None

In [44]:
print(a)

[1, 2, 3, 4, 5, 7]

In [45]:
# allows to store duplicate elements

a = [1,1,1,1,1,1,2,2,2,3,3,3,3,4,4,4]
print(a)

[1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4]

In [47]:
# you can stroe any datatype

a = [1 , 'afsaan' , True , 6+8j , None , [1,2,3] , (12,3) , {1,2,3}]
print(a)

[1, 'afsaan', True, (6+8j), None, [1, 2, 3], (12, 3), {1, 2, 3}]

In [51]:
# concatination

# op - +
# operands - boht the operands shoube be list

a = [1,2,3]
b = [1]
a+b

[1, 2, 3, 1]

In [55]:
# repetition

# op - *
# operands - one should be list and other should be int

a = [1,2,3,4]
b = 3
a*b

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [57]:
# identity

# op - is, is not

a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))


print(a is b)

140340277003840
140340275812224
False

In [59]:
# object resualiby concept

# int - -5 to 256
# Bool
# str - A-Z , a-z , 0-9 , _

# Membership operator

op - in , not in

In [60]:
list_1 = ['afsaan' , 'Aswin' , 'Dishali' , 'mayank' , 'sukanya']

'abhishek' in list_1

False

In [61]:
'Aswin' in list_1

True

In [62]:
'aa' in list_1

False

In [63]:
# nested list - list inside list

a = [1,2,3,4,[5,6,7] , [7,8,9]]
print(a)

[1, 2, 3, 4, [5, 6, 7], [7, 8, 9]]

In [80]:
a[4][1]

6

In [64]:
a[4][-1]

[5, 6, 7]

In [66]:
a = [1,2,3,4,[5,6,7] , [7,8,9]]
print(a)
a[5][1]

[1, 2, 3, 4, [5, 6, 7], [7, 8, 9]]

8

In [67]:
a[-1][-2]

8

In [68]:
nest_list = [[1,2,4] , [5,6,7] , [8 , [9,10,['a' , 'b']]]]

In [92]:
nest_list[-1][-1][-1][-1]

'b'

In [72]:
nest_list[-1][-1][-1][-1]

'b'

In [73]:
nest_list[2][1][2][1]

'b'

In [78]:
nest_list[2][1][2][1]

'b'

In [93]:
nest_list[2][1][0]

9

In [94]:
# methods on list
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
# Meythods to insert element in the list

1. append
2. extend
3. insert

In [95]:
# 1. append

# - appends the element at the end
# - you can enter one element / datatpye at a time

a = [10,11,12]
a.append(40)

In [96]:
print(a)

[10, 11, 12, 40]

In [97]:
a = [10,11,12]
a.append([1,2,3])

In [98]:
a

[10, 11, 12, [1, 2, 3]]

In [99]:
a = [10,11,12]
print(id(a))
a.append(40)
print(a)
print(id(a))

140340275811712
[10, 11, 12, 40]
140340275811712

In [ ]:
#2. extend

it is similar to concatination but it does not create a new list object rather it update the existing one

In [100]:
a = [1,2,3,4]
b = [5,6,7,8]
a.extend(b)

In [102]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

In [104]:
a = [1,2,3,4]
b = [5,6,7,8]
a+b

[1, 2, 3, 4, 5, 6, 7, 8]

In [105]:
a

[1, 2, 3, 4]

In [106]:
b

[5, 6, 7, 8]

In [107]:
# insert

# - insert method inserts the value at a prticular index
# - synatax = list.insert(index , value)

a = [1,2,3,4]

# at index 2 insert 10
a.insert(2 , 10)

In [108]:
a

[1, 2, 10, 3, 4]

In [ ]:
# removing the element from the list

1. pop
2. remove

In [111]:
# 1.pop

# removes the element by index
# pop() by dfeault removes the last element
# it is the only method that returns the value

# syntax = list.pop(index)

a = [1,2,3]
print(a.pop())

3

In [112]:
print(a)

[1, 2]

In [113]:
a = [1,2,3]
print(a.pop(0))

1

In [114]:
print(a)

[2, 3]

In [115]:
# Remove

# -removes the specified value from the list

# - if duplication then it removes the first occurance

a = [1,2,3,4]
a.remove(4)

In [116]:
a

[1, 2, 3]

In [117]:
a = [1,2,3,4,4,5,5]
a.remove(4)

In [118]:
a

[1, 2, 3, 4, 5, 5]

In [120]:
# count

a = [1,2,3,4,5,5,5,6,6,6,7,7,7,8,8,8,8,8,8,8,1,0,0,0,0,0,0,0,0,0]
a.count(0)

9

In [121]:
# index

# - return the index of an value
# - not if specified value is not peresent it will throw an error

l1 = [1,2,3,4]
l1.index(3)

2

In [122]:
l1 = [1,2,3,4]
l1.index(13)

ValueError: 13 is not in list

In [123]:
# Reverse

l = [1,2,3,4,5]
l.reverse()

In [124]:
l

[5, 4, 3, 2, 1]

In [125]:
# sort


# asceding order
l1 = [10,3,4,1,2,5]
l1.sort()

In [126]:
l1

[1, 2, 3, 4, 5, 10]

In [127]:
# descending order
l1 = [10,3,4,1,2,5]
l1.sort(reverse = True)

In [128]:
l1

[10, 5, 4, 3, 2, 1]

In [129]:
# Clear 

a= [1,2,3]
a.clear()

In [130]:
a

[]

In [ ]:
#
a = [1,2,3,4,5]
b = [1,4,9,16,25]

#

In [ ]:
# list comphresion

# shallow and deep copy