In [ ]:
12
tuple
set
dict
problems

In [ ]:
# Tuple 

anything that can ve written inside a () (optional) and elements are sep by commas

In [1]:
a = (1,2,3,4,5)
print(a, type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

In [2]:
a = 1,2,3,4,5
print(a , type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

# Creation of tuple

In [3]:
# 1. we already know the element

tup1 = (1,2,3)
print(a , type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

In [5]:
# 2. taking a user input

tup2 = eval(input('enter the tuple'))
print(type(tup2))
print(tup2)

enter the tuple(1,2,3,4)
<class 'tuple'>
(1, 2, 3, 4)

In [8]:
# 3. typecasting

a = 'afsaan'
b = [1,2,3]
c = 3

print(tuple(c))

TypeError: 'int' object is not iterable

In [9]:
# list tuple set - they only take iterable objects

In [ ]:
Properties of tuple

1. Seq data type
2. supports +ve and -ve indexing
3. indexing(accessing one elem at a time) and slicing(accesing multiple ele)
4. immutable - assignmet is not possible and any op on tuple will result in new object
5. allow duplicate 
6. hetrogenous - all type of data types can be stored
7. basic op - slicing , indexing,concatination , repetition, identity , memebrship

In [11]:
# 2. supports +ve and -ve indexing

a = 10,20,30,40,50,'afsaan khan'

# extract f

a[-1][1]

a[5][1]

'f'

In [16]:
# 3. indexing(accessing one elem at a time) and slicing(accesing multiple ele)

a = 10,20,30,40,50,'afsaan khan'

# ouput should be nahk
a[-1][-1:-5:-1]

a[-1][:6:-1] 

a[-1][-1:-4:-1]

'nah'

In [17]:
# 4. immutable - assignmet is not possible and any op on tuple will result in new object

a = (1,2,3,4,5)
a[0] = 100
print(a)

TypeError: 'tuple' object does not support item assignment

In [18]:
# 5. allow duplicate element

a = (1,1,1,2,3,4,5,5,5)
print(a, type(a))

(1, 1, 1, 2, 3, 4, 5, 5, 5) <class 'tuple'>

In [19]:
# 6. hetrogenous - all type of data types can be stored

a = (1 , 1.2 , 3+6j, [1,2,3] , (1,2,3) , None , 'afsaan')
print(a)

(1, 1.2, (3+6j), [1, 2, 3], (1, 2, 3), None, 'afsaan')

In [20]:
# 7. basic op - slicing , indexing,concatination , repetition, identity , memebrship

In [21]:
#concatination

'''op - +
2 operands - both should be tuple'''

a = (1,2,3)
b = (5,6,7)

a + b

(1, 2, 3, 5, 6, 7)

In [23]:
#repetition

'''op - *
2 operands - one should be tuple and other should be int'''

a = (1,2,3)
b = 2
c = 2.4

a * c

TypeError: can't multiply sequence by non-int of type 'float'

In [24]:
# identity

'''identity op are used to compare the address of two varibales
op - is and is not
'''

a = (1,2,3)
b = (1,2,3)
print(a is b)

False

In [25]:
# memebrship

'''op - in , not in
check wherther eleme is a memeber of main tuple or not'''

a= (1,2,3)
1 in a

True

In [26]:
# methods in tuple

dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

1. count
2. index

In [29]:
# Count - count of an element

a = 10,20,30,40,50 , 10,10,50
print(a.count(10))

3

In [30]:
# index - is used to find the index of an element

a = 10,20,30,40,50,60,60,10,20
print(a.index(30))

2

In [32]:
a = 10,20,30,40,50,60,60,10,20
print(a.index(10 , 4, 7))

ValueError: tuple.index(x): x not in tuple

In [ ]:
# Tuple packing and unpcaking

tuple packing
packing or assigning multiple values to a single varibale

In [33]:
a = 1,2,3,4,5 # tuple packing
print(type(a) , a)

<class 'tuple'> (1, 2, 3, 4, 5)

In [34]:
# Tuple unpacking

# fetching idividual value form the tuple

a,b,c,d = (1,2,3,4)

print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [35]:
a,b,c,d,e = (1,2,3,4)

print(a)
print(b)
print(c)
print(d)

ValueError: not enough values to unpack (expected 5, got 4)

In [ ]:
#Rule - number of varibales in lhs = number of elements on rhs

In [ ]:
# set

# anything that can be written in curly brackets and elements are sep by commas

In [36]:
a = {1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [ ]:
# Properties

1. not a seq data type
2. indexing and slicing is not supoorted
3. collection of unique elements
4. immutable

In [37]:
a = {1,2,3,4}
a[0]

TypeError: 'set' object is not subscriptable

In [38]:
# 3. collection of unique elements

a = {1,2,3,1,1,1,2,3}
print(a)

{1, 2, 3}

In [39]:
# 4. immutable

a = {1,2,3}
a[0]=3

TypeError: 'set' object does not support item assignment

In [41]:
a = {1,2,3,0,False,True , 3,3,3,0}
print(a)

{0, 1, 2, 3}

In [ ]:
true also means 1
false also means 0

{1,2,3,False}

In [42]:
a = ['afsaan' , 'dishali' , 'sukanya' , 'aswin' , 'aswin' , 'afsaan' , 'mayank' , 'dishali' , 'sukanya' , 'sukanya']

b = set(a)

print(b)

{'mayank', 'dishali', 'sukanya', 'afsaan', 'aswin'}

# Dictionary Data type

In [43]:
#name of en empoyye, age , salary

a = ['Afsaan' , 24 , 70000]

In [44]:
# extract name of an empoyee
print(a[0])

# extract the age of employee
print(a[1])

# extract the salary of employye
print(a[2])

Afsaan
24
70000

In [45]:
a = ['Afsaan' , 24 , 24]


# extract name of an empoyee
print(a[0])

# extract the age of employee
print(a[1])

# extract the salary of employye
print(a[2])

In [47]:
a = [24 , 'afsaan' , 70000]

# extract name of an empoyee
print(a[0])

# extract the age of employee
print(a[1])

# extract the salary of employye
print(a[2])

24
afsaan
70000

In [49]:
'''dic - anyhting closed inside a curly brackets and each elem is a key:value pair and each key:value pair
        is sep by commas'''

dic_employee = {'name':'Afsaan' , 'age':24 , 'salary':70000}

# extract name of an empoyee
print(dic_employee['name'])

# extract the age of employee
print(dic_employee['age'])

# extract the salary of employye
print(dic_employee['salary'])

Afsaan
24
70000

In [ ]:
dic_employee = {'name':'Afsaan' , 'age':24 , 'salary':24}

# extract name of an empoyee
print(dic_employee['name'])

# extract the age of employee
print(dic_employee['age'])

# extract the salary of employye
print(dic_employee['salary'])

In [50]:
dic_employee = {'age':24 , 'salary':24, 'name':'Afsaan' }

# extract name of an empoyee
print(dic_employee['name'])

# extract the age of employee
print(dic_employee['age'])

# extract the salary of employye
print(dic_employee['salary'])

Afsaan
24
24

In [ ]:
# Properties of dic

1. its a coolection of key value pair
2. it is used to represent structured data
3. key, value pair is called item
4. items are sep by commas
5. key and values are sep by (:)
6. key cannot be duplicated hereas values can be duplicated
7. key cannot be mutable i.e key should be immuatble
8. value can be anything (mutable , immutable)
9. dic is not a seq data type so der is no indexing , slicing , concaqtination , repetition
10. membersip op is applicable only on keys
11. identity is possible
12. dic is mutable - u can chnage the dic , assignemnt is possible
13. all the items are into curly brackets and sep by commas

In [ ]:
# how to create a dic

# 1. if you already know the element

dic_employee = {'age':24 , 'salary':24, 'name':'Afsaan' }

In [52]:
# 2. taking the user input

dic_1 = eval(input('please input the dic'))
print(dic_1 , type(dic_1))

please input the dic{1:2}
{1: 2} <class 'dict'>

In [55]:
# 3 . using the dic fucntion - type casting

""" dic fucntion takes a seq of inner seq where inner seq will have a pair of value and out of the pair
the first value will be key and second will be value
"""

a = [[1,2] , [2,3] , [4,5] , [5,6]]
a = ((1,2) , [2,3] , [4,5] , [5,6])

dict(a)

{1: 2, 2: 3, 4: 5, 5: 6}

In [59]:
#4. zip function

# syntax - zip(iterable1 , iterable2) # iterable 1 acts a key and iterable 2 acts as value

dict(zip([1,2,3,4] , 'afsaan'))

{1: 'a', 2: 'f', 3: 's', 4: 'a'}

In [60]:
# 1. its a coolection of key value pair
# 2. it is used to represent structured data
# 3. key, value pair is called item
# 4. items are sep by commas
# 5. key and values are sep by (:)

{1: 'a', 2: 'f', 3: 's', 4: 'a'}

{1: 'a', 2: 'f', 3: 's', 4: 'a'}

In [61]:
# 6. key cannot be duplicated hereas values can be duplicated

a = {'name_1':'afsaan' , 'name_2':'messi'}

print(a)

{'name_1': 'afsaan', 'name_2': 'messi'}

In [62]:
a = {'name_1':'afsaan' , 'name_2':'messi' , 'name_1':'ronaldo'}

print(a)

{'name_1': 'ronaldo', 'name_2': 'messi'}

In [ ]:
'name_1':'ronaldo'
'name_2':'messi'

In [63]:
a = {'name_1':'afsaan' , 'name_2':'messi' , 'name_1':'ronaldo' , 'name_2':'cavani' , 'name_1':'kante'}

print(a)

{'name_1': 'kante', 'name_2': 'cavani'}

In [66]:
a = {'name_1':'afsaan' , 'name_2':'afsaan' , 'name_1':'afsaan' , 'name_2':'afsaan' , 'name_1':'afsaan'}

print(a)

{'name_1': 'afsaan', 'name_2': 'afsaan'}

In [67]:
# 7. key cannot be mutable i.e key should be immuatble

a = {'name_1':'afsaan' , 2:'afsaan'}

print(a)

{'name_1': 'afsaan', 2: 'afsaan'}

In [68]:
a = {'name_1':'afsaan' , (1,2,3):'afsaan'}

print(a)

{'name_1': 'afsaan', (1, 2, 3): 'afsaan'}

In [69]:
a = {['name_1']:'afsaan' , (1,2,3):'afsaan'}

print(a)

TypeError: unhashable type: 'list'

In [70]:
# 8. value can be anything (mutable , immutable)

a = {'name_1':['afsaan'] , (1,2,3):'afsaan'}

print(a)

{'name_1': ['afsaan'], (1, 2, 3): 'afsaan'}

In [75]:
# 9. dic is not a seq data type so der is no indexing , slicing , concaqtination , repetition

a = {'name_1':['afsaan'] , (1,2,3):'afsaan'}
b = {'name_3':['afsaan'] , (1,2,3,4):'afsaan'}

# # indexing
# a[0]

# # slicing
# a[::]

# concat
a+b

# repetion
a*3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [76]:
# 10. membersip op is applicable only on keys

a = {'name_1':'afsaan' , 'name_2':'afsaan'}

print('afsaan' in a)

False

In [77]:
a = {'name_1':'afsaan' , 'name_2':'afsaan'}

print('name_1' in a)

True

In [78]:
# 11. identity is possible

a = {'name_1':'afsaan' , 'name_2':'afsaan'}
b = {'name_1':'afsaan' , 'name_2':'afsaan'}

print( a is b)

False

In [80]:
# 12. dic is mutable - u can chnage the dic , assignemnt is possible

a = {'name_1':'afsaan' , 'name_2':'rahul'}

a['name_2'] = 'messi'

In [81]:
a

{'name_1': 'afsaan', 'name_2': 'messi'}

In [ ]:
# 13. all the items are into curly brackets and sep by commas


a = {'name_1':'afsaan' , 'name_2':'rahul'}

In [82]:
a = {'name_1':{'first_name' : 'afsaan' , 'last_name':'khan'} , 'name_2':{'first_name' : 'Rahul' , 'last_name':'Tiwari'}}
print(a)

{'name_1': {'first_name': 'afsaan', 'last_name': 'khan'}, 'name_2': {'first_name': 'Rahul', 'last_name': 'Tiwari'}}

In [84]:
# extract lastname of employee name_1 from dic a

a['name_1']['last_name']

'khan'

# Methods on Dic

In [85]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
# methods to add and access the element from dic

1. get
2. setdefault
3. update

In [88]:
# 1. get

"""
if the key is present it returns the value , else default value
"""

# a. if key is present

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                      'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.get('emp1')

# a. if key is not present

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                      'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

print(employee_details.get('emp3'))


# we can deifne our own messgae of key is not der

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                      'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

print(employee_details.get('emp3', 'key is not present'))

None
key is not present

In [90]:
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                      'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000},
                   'emp3' : {'name':'Afsan' , 'age': 23 , 'salary':70000}
                   }

print(employee_details.get('emp5', 'key is not present'))

key is not present

In [99]:
#2 , set deafult

"""
Insert the key with the value of the deafult if the key is not in the dic , else return the value
"""


# a. if key is present

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                      'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.setdefault('emp2')


# a. if key is not present

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                      'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.setdefault('emp3')

# define you own message

employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                      'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.setdefault('emp1' , 'not present')

{'name': 'Afsan', 'age': 23, 'salary': 70000}

In [96]:
employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000},
 'emp2': {'name': 'rahul', 'age': 23, 'salary': 6000},
 'emp3': 'not present'}

In [101]:
# 3. update

'''
updates the dic wiht the new dic
'''
employee_details = { 'emp1' : {'name':'Afsan' , 'age': 23 , 'salary':70000} , 
                      'emp2' : {'name':'rahul' , 'age': 23 , 'salary':6000}}


new_employee = {'emp3' : {'name':'rahul' , 'age': 23 , 'salary':6000}}

employee_details.update(new_employee)

In [102]:
employee_details

{'emp1': {'name': 'Afsan', 'age': 23, 'salary': 70000},
 'emp2': {'name': 'rahul', 'age': 23, 'salary': 6000},
 'emp3': {'name': 'rahul', 'age': 23, 'salary': 6000}}

# Revision

In [ ]:
Tuple packing and unpacking

In [103]:
a = 10,20,30,40,50

print(a)

(10, 20, 30, 40, 50)

In [107]:
# unpacking

a,b,c,d,e = 10,20,30,40,50


print(a,b,c,d,e)

10 20 30 40 50

In [ ]:
def
return a,b