In [ ]:
# Differnt ways to execute the python

1. jupyter notebook
2. python interpreter
3. using python file

In [1]:
# using jupyter notebook

print('afsan')

afsan

In [ ]:
# using python interpreter
# uisng pyhton file

In [ ]:
python programming concepts

- literal
- Constants
- Varibales
- Indentifers
- Reserevd words
- Statement and Expression
- Blocks and Indentation
- comments

In [ ]:
literal - any value that you use in programming langauge is called as literals

types of literal

int - any value wihtout decimal points ex - 10 , 20,30
float - any value with a decimal point ex - 10.9 , 10.01 , 100.0
complex - anyhting that can be represented in the form a + bj where a i sreal and b is imaginary
None
Boolean literals - True / False
String literals - anyhting inside '..' , "...." , '''...''' , """..."""

In [ ]:
a = 10
b = 20
c = 10.9
d = True
e = 'False'
f = 6+8j
g= None

In [ ]:
Constant , Varibales and Identifiers

constant and Varibael are the subset of indentifers

indentifers = any name game given to a varbale , constant name , function name , class name

Rules - 

1. Allowed characters - A-Z , a-z , 0-9 , _
2. No special charac are allowed
3. cannot start with numbers (0-9)
4. case sensitive
5. no length limit
6. keywords are not allowed

In [ ]:
abc = 10
abc@abc = 20
0afsan = 10

In [4]:
a = 10
A = 20

print(A)

20

In [ ]:
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa = 100

In [ ]:
Statement and Expression

Expression - combination of vairbale and literas to give some value on the screen , Expression alwasy return some value

Statement - does not return anything

In [5]:
10+20

30

In [6]:
22

- so lityerals ar the simplest expression that we have

22

In [ ]:
a = 10
10
22.2
b = 20
c = 10+20

In [ ]:
1 - stat 
2- exp
3- exp
4- stat
5-stat

In [7]:
a = 10

In [ ]:
Blocks and Indentation

stat1
stat2
stat3
stat4
stat5
stat6


stat1
stat2
stat3
if condition
    stat4
    stat5
stat6

In [ ]:
comments in python

- makes code more readable
- exaplin the python code
- prevent the excecution

In [ ]:
# addition of two numbers

a = 10+30`

In [9]:
a= 20+30
b= 50+60
c = 100+200

print(a)
#print(b)
print(c)

50
300

In [ ]:
We have two types of data types

1. Fundamanetasl data type
- int
- float
- string
- Boolean
- None
- Complex numbers

2. Derived data type
- list
-tuple
- set
- dic
- bytes
- fronzen set
- range

In [ ]:
# Integers

- any value wihtout a decimnal point

In [11]:
a = 10
print(a)
print(type(a))

10
<class 'int'>

# types of op that we can perform on integer

1. Arthmatic op - + , - , * , /(float division) , //(floor divsion) , %(modulo) , **(exponent)

In [18]:
print(10+20)

print(10-20)

print(10*10)

print(10/2)

print(12//7)

print(12//7.0)

print(12//12)


print(10%4)

print(2**2)

30
-10
100
5.0
1
1.0
1
2
4

In [ ]:
2. Comaprsion op - > , < >= , <=

-  always return value True or False
- can be peform between int and float
- can be performed between str and str
- it caanot perform on complex
- it coannt perfomr on None Type

In [19]:
10>20

False

In [20]:
10.0 >= 10

True

In [21]:
100 <= 99

False

In [23]:
'abc' < 'xyz'

True

In [24]:
'afsan' < 'Afsan'

False

In [25]:
'afsan' < 'afsaN'

False

In [27]:
1.0 < 'afsan'

TypeError: '<' not supported between instances of 'float' and 'str'

In [28]:
1 < None

TypeError: '<' not supported between instances of 'int' and 'NoneType'

# Equlaity op - == , !=

- returns boolean value

In [31]:
2.3 == 'afsan'

False

In [32]:
None == 30+6j

False

In [33]:
None != 30+6j

True

In [ ]:
logical op - and , or and not

and
1 and 1 - > 1
1 and 0 -> 0
0 and 1 -> 0
0 and 0 -> 0

or
1 or 1 -> 1
1 or 0 -> 1
0 or 1 -> 1
0 or 0 -> 0


not

not 0 -> 1
not 1 -> 0

In [34]:
print(1 or 1)

1

In [35]:
print(1 or 0)

1

In [36]:
print(not 1)

False

In [ ]:
true = 1
false = 0

In [37]:
1+1+1+1

4

In [38]:
True + True + True + True

4

In [39]:
int(True)

1

In [40]:
int(False)

0

In [41]:
# Ascii conversion

ord('a')

97

In [42]:
ord('A')

65

In [43]:
chr(65)

'A'

In [44]:
'A' <= chr(65)

True

In [46]:
'afsaan' <= chr(97)

False

In [47]:
1 == (not 0)

True