In [2]:
# Write a Python program to triple all numbers of a given list of integers. Use Python map

list_num = eval(input("Enter list of number(s): "))

list_out = list(map(lambda a: a*3, list_num))

print(list_out)

Enter list of number(s): [1,2,3]
[3, 6, 9]

In [39]:
# Write a Python program to add three given lists using Python map and lambda

list_1 = [10, 10, 10, 10, 10]
list_2 = [10, 10, 10, 10]
list_3 = [10, 10, 10, 10, 10]
list_out = []

max = 0

if len(list_1)>=len(list_2):
  max = len(list_1)
else:
  max = len(list_2)

if len(list_3)>=max:
  max = len(list_3)

print("max length: ", max)

for i in range(len(list_1), max):
  list_1.append(0)

for i in range(len(list_2), max):
  list_2.append(0)

for i in range(len(list_3), max):
  list_3.append(0)

print(list_1)
print(list_2)
print(list_3)

print('-'*max*5)

list_out = list(map(lambda a,b,c: a+b+c , list_1, list_2, list_3))

print(list_out)

max length:  5
[10, 10, 10, 10, 10]
[10, 10, 10, 10, 0]
[10, 10, 10, 10, 10]
-------------------------
[30, 30, 30, 30, 20]

In [43]:

# Write a Python program to add two given lists and find the difference between lists

"""
sample list
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]


output  - [(6, 6), (6, 4), (10, -4), (16, 2)]

"""
list_1 = [6, 5, 3, 9]
list_2 = [0, 1, 7, 7]
list_out = []

max = 0

if len(list_1)>=len(list_2):
  max = len(list_1)
else:
  max = len(list_2)

print("max length: ", max)

for i in range(len(list_1), max):
  list_1.append(0)

for i in range(len(list_2), max):
  list_2.append(0)


print(list_1)
print(list_2)

list_out = list(map(lambda a, b: (a+b, a-b), list_1, list_2))
print(list_out)

max length:  4
[6, 5, 3, 9]
[0, 1, 7, 7]
[(6, 6), (6, 4), (10, -4), (16, 2)]

In [85]:
# Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence

global_var = ""
used_char = []
def removeDuplicates(c):
  if global_var.count(c)==1:
      return True
  else:
    if c in used_char:
      return False
    else:
      used_char.append(c)
      return True
  return False

inp_string = eval(input("Enter a sequence: "))

inp_upper_case = list(map(lambda a: a.upper(), inp_string))
inp_lower_case = list(map(lambda a: a.lower(), inp_string))

print("Upper Case: ", "".join(inp_upper_case))
print("Lower Case: ", "".join(inp_lower_case))
global_var = inp_lower_case

remove_dup = list(filter(removeDuplicates, inp_lower_case))
print("After removing duplicates: ","".join(remove_dup))

Enter a sequence: 'Aswin is a GOOD BOY'
Upper Case:  ASWIN IS A GOOD BOY
Lower Case:  aswin is a good boy
aswin godby

In [73]:
# Filter out the fruits that start with A 

inp_list = ['Apple', 'Banana', 'Avacado', 'Amla', 'Pomogranate']
output = filter(lambda a: True if a[0]=='A' or a[0]=='a' else False,  inp_list)
print(list(output))

['Apple', 'Avacado', 'Amla']

In [86]:
# Filter out the positve number from a list

inp_list = [1, 2, 3, -2, 0, -9, 3, -10]
positive_list = list(filter(lambda a: True if a>=0 else False, inp_list))

print(positive_list)

[1, 2, 3, 0, 3]

In [98]:
# filter out the multiples of 3 and 5 from a list

inp_list = [1, 2, 3, -2, 0, -9, 3, -10, 15, 18, 20]
multiples_list = list(filter(lambda a: True if a%5==0 or a%3==0 else False, inp_list))
print(multiples_list)

[3, 0, -9, 3, -10, 15, 18, 20]

In [96]:
# find the max string using reuduce function
from functools import reduce

inp_list = ['Aswin', 'Afsaan', 'Mayank', 'Dishali', 'Sukanya', 'Krismin']

max_list = reduce(lambda a, b: a if a>=b else b, inp_list)
print("".join(max_list))

Sukanya

In [99]:
# find the mean , max and min of a given list using reduce function
from functools import reduce

num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

mean = reduce(lambda a, b: (a+b)/2, num_list)
max = reduce(lambda a, b: a if a>=b else b, num_list)
min = reduce(lambda a, b: a if a<b else b, num_list)

print("Mean:",  mean)
print("Max:",  max)
print("Min:",  min)

Mean: 9.001953125
Max: 10
Min: 1