In [ ]:
# Type casting

- Converting one data type to another

int() - converts to integer
float() - whihc converts to float
str() - converts to string
bool() - converts to bool
list() - converts to list
tuple() - converts to tuple

In [1]:
a = 1
print(type(a))

<class 'int'>

In [2]:
#1 way

a = 1

print(float(a))

1.0

In [3]:
#2 way

a = float(1)

print(a)

1.0

In [4]:
a = 200

print(bool(a))

True

In [5]:
string = '123'

a = int(string)
b = float(string)
c = bool(string)

print(a , b , c)

123 123.0 True

In [7]:
string = '123'  # 0-9

a = int(string)
b = float(string)
c = bool(string)

print(a , b , c)

123 123.0 True

In [8]:
string = '123@'  # 0-9

a = int(string)
b = float(string)
c = bool(string)

print(a , b , c)

ValueError: invalid literal for int() with base 10: '123@'

In [11]:
string = '123.3'  # 0-9

# a = int(string)
b = float(string)
c = bool(string)

print(a , b , c)

123 123.3 True

# Input and output functions in pyhton

input function - input functiion is used to take input from the user

In [15]:
a = input('Enter the number: ')
b = input('Enter the number: ')

print(a + b)

Enter the number: 1
Enter the number: 2
12

In [16]:
#1 way
a = input('Enter the number: ')
b = input('Enter the number: ')

print(int(a) + int(b))

Enter the number: 1
Enter the number: 2
3

In [17]:
#2 way
a = int(input('Enter the number: '))
b = int(input('Enter the number: '))

print(a+b)

Enter the number: 1
Enter the number: 2
3

# Coclusion

- input will always return a String data type

In [ ]:
1 . type casting
2. eval function - eval(' < proper_datatype> ')

In [22]:
eval('"afsaan"')

'afsaan'

In [ ]:
1
'afsaan'
[1,2,3]
True

In [ ]:
print('a')

In [25]:
a = eval(input('Enter the number: '))
b = eval(input('Enter the number: '))

print(a+b)

Enter the number: 'afsaan'
Enter the number: 'khan'
afsaankhan

In [ ]:
eval('afsaan')

# Output Function

- function that prints the value on the screen
- print() is an output function

In [27]:
a = 10
b = 20
c = 30

print(a)
print(b)
print(c)

10
20
30

In [28]:
a = 10
b = 20
c = 30

print(a , end='-->')
print(b , end='-->')
print(c )

10-->20-->30

In [31]:
a = 10
b = 20
c = 30

print(a,b,c,sep='**')

10**20**30

In [34]:
a = 10
b = 20
c = 30
d = 40

print(a,b,sep='**' , end ='\t')
print(c,end='-->')
print(d)

10**20	30-->40

In [33]:
Q1. take user name and surname form the user and print on the screen

a	b

In [35]:
username = input("Enter username: ") 
surname = input("Enter surname: ") 
print(username, surname)

Enter username: afsaan
Enter surname: khan
afsaan khan

In [36]:
username = input("Enter username: ") 
surname = input("Enter surname: ") 
print("Username is: ", username) 
print("Surname is: ", surname)

Enter username: afsan
Enter surname: khan
Username is:  afsan
Surname is:  khan

# Sting format

In [38]:
name = input('please eneter the name: ')
age = input('please enter the age')
print(name)
print(age)

please eneter the name: afsaan
please enter the age24
afsaan
24

In [ ]:
name = input('please eneter the name: ')
age = input('please enter the age')
print('my name is afsaan and my age is 24')

In [40]:
name = input('please eneter the name: ')
age = input('please enter the age')
print(f'my name is {name} and my age is {age}')

please eneter the name: afsan
please enter the age24
my name is afsan and my age is 24

In [41]:
name = input('please eneter the name: ')
age = input('please enter the age')
print('my name is {} and my age is {}'.format(name , age))

please eneter the name: afsan
please enter the agekhan
my name is afsan and my age is khan

In [42]:
name = input('please eneter the name: ')
age = int(input('please enter the age'))
print('my name is {} and my age is {}'.format(name , age))

please eneter the name: afsan
please enter the age24
my name is afsan and my age is 24

# Float

- any value with a decimal point

In [43]:
a = 10.2
print(type(a))

<class 'float'>

In [ ]:
Operations possible with floats

- arthmetic op
- compariosn op
- Equality op
- logical op
- identity op
- assignment op

operations that is not possible with float

- bitwise op
- assignment op whihc includes bitwise operator

Object reusabilty concept is not applicable with floats

In [44]:
12.3%3

0.3000000000000007

# Complex data type

- any value that can be represented in the form of a + bj is called as complex numbers

In [45]:
a = 10 + 6j
print(type(a))

<class 'complex'>

In [48]:
# extractuing the real and the img part - return value will be float

print(a.real)
print(a.imag)

10.0
6.0

Operations possible with complex

- arthmetic op except modulo
- Equality op
- logical op
- identity op
- assignment op excpet modulo and bitwise

operations that is not possible with Complex

- compariosn op
- bitwise op
- assignment op whihc includes bitwise operator

Object reusabilty concept is not applicable with complex

In [49]:
10+6j % 2

TypeError: can't mod complex numbers.

In [50]:
10+6j and 11+5j

(11+5j)

In [ ]:
# None Data type
- used to represent a missing value


name      id          sal

xyz       None        None
None      123         24k

In [ ]:
float , complex and none

In [51]:
a = None
print(type(a))

<class 'NoneType'>

# Boolean Data type(True or False)

- true also means 1
- False also means 0

In [54]:
# proof 1

int(True)

# proof 2
print(True + True + True)

3

In [ ]:
#int
0 is always false
rest all is True

# float
0.0 is false
rest all true

# string
'' is false
rest all true

# complex
0+0j is always false
rest all true

None is always false

Derived data types

empty list , empty tuple , empty set empty dic asre all false

In [65]:
# int
print(bool(0))
print(bool(-100))

print('----------------------')
# float
print(bool(0.0))
print(bool(-100.0))

print('----------------------')
# string
print(bool(''))
print(bool('-100.0'))

print('----------------------')
# Complex
print(bool(0+0j))
print(bool(1+6j))

print('----------------------')
# Complex
print(bool(None))


print('----------------------')
# Complex
print(bool([]))

print('----------------------')
# Complex
print(bool(()))


print('----------------------')
# Complex
print(bool({}))

False
True
----------------------
False
True
----------------------
False
True
----------------------
False
True
----------------------
False
----------------------
False
----------------------
False
----------------------
False

# String-

anything that can be written inside a '..' , "..." , '''....''' , """....."""

In [68]:
a = 'python'
print(a)
print(type(a))

python
<class 'str'>

In [69]:
a = 'python'
b = "python"
c = """python"""

print(a)
print(b)
print(c)

python
python
python

In [70]:
a = 'python'

statment1 = 'it's a python class today'

SyntaxError: invalid syntax (<ipython-input-70-507be9b832ef>, line 3)

In [72]:
statment1 = "it's a python class today"
print(statment1)

it's a python class today

In [75]:
# multiple lines

str1 = "
hey
hello world
tutort
"

SyntaxError: EOL while scanning string literal (<ipython-input-75-446a5c0263a2>, line 3)

In [74]:
print(str1)

hey
hello world
tutort

In [ ]:
# String properties

- String is Seq data type - it allows indexing as well as sliciing
- supports both +ve and -ve indexing
- +ve indexing starts from l to right with starting of 0
- -ve indexing starts from r to l with starting index -1
- indexing (accesing one element) - slicing (accesing multiple element at a time)
- syntax indexing (var_name[index_value]) - syntax for slicing (var_name[start:stop:step])

In [76]:
a = 'python'

print(id(a))

140686744088752

In [77]:
# +ve indexing
print(a[1])

# -ve indeinxg
print(a[-5])

y
y

In [78]:
# +ve indexing
print(id(a[1]))

# -ve indeinxg
print(a[-5])

140686747836784
y

In [81]:
# why

a = 'python'
b = 'cython'

print(id(a[0]))
print(id(b[0]))

140686749310448
140686750008880

In [82]:
print(id(a[1]))
print(id(b[1]))

140686747836784
140686747836784

In [83]:
a[1]

'y'

In [84]:
indexing - it means extracting 1 char at a time
slicing - extracting multiple character at a time

1

In [85]:
a = 'python'

# synatx = a[start_index:stop_index]

a[0:3]

'pyt'

In [87]:
# extract 'ytho' -- using +ve as well as -ve

a[1:5]

a[-5:-1]

'ytho'

In [90]:
# 'thon' --- using +ve and -ve indexing


a[-4:] 3 special case

'thon'

In [91]:
a[2:]

'thon'